<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestScenarios.AddingItems"/>
      </classes>
      </test>
      <test name="Login the application">
    <classes>
      
      <class name="TestScenarios.Login"/>
      </classes>
      </test>
      
      <test name="Arrive at the confirmation page">
      <classes>
      <class name="TestScenarios.Confirmation"/>
      </classes>
      </test>
      <test name="Finish the checkout">
      <classes>
      <class name="TestScenarios.Finish"/>
      </classes>
      </test>
      <test name="Validate negative scenarios">
      <classes>
      
      <class name="TestScenarios.NegativeScenariosLogin"/>
      </classes>
      </test>
      <test name="Complete the checkout">
      <classes>
      <class name="TestScenarios.Checkout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
